body {
    font-family: sans-serif;
    /* Food */

    position: relative;
    width: 100%;
 

    background: #FEFFCA;
    text-align: center;
}
header{
    width: 100%;
    height: 100px;
    background-color: #C4C4C4;
    margin-top: 50px;
}
nav {
    /* пункт */
    display: flex;
    font-family: 'Roboto';
    justify-content: space-around;

}
nav a{
 
    color: black;
    text-decoration: none;
    margin-top: 35px;
}
.sale1{
    width: 50%;
    height: 200px;

    font-size: 15px;
    font-family:'Forum';
    position: relative;
    padding: 50px 10px 10px 10px;

}
.sale2{
    width: 50%;
    height: 200px;
    padding: 20px;
 
}
.s1{
    display: flex;
}
h1{
    font-size: 30px;
}
.sale2 img{
    width: 300px;
    height: 200px;
    border-radius: 20px;
}
.menu{
    text-align: center;
    display: flex;
    margin-top: 50px;

}
.menu img{
border-radius: 20px;

}
.menu article{
    margin-left: 50px;
    text-align: center;
}
.akcia{
    font-size: 60px;
    border: 3px solid orange;
    border-radius: 10px;
    padding: 15px;
    color: red;
}
.anime{
    height: 100px;
}
footer{
    width: 100%;
    height: 100px;
    background-color: #C4C4C4;
    padding: 15px;
   
}
main {
        text-align: center;
}


.slider {
  position: relative;
  width: 680px;
  margin: 50px auto;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75);
}

.slider input[name="switch"] {
  display: none;
}

.switch {
  position: absolute;
  left: 0;
  bottom: -40px;
  text-align: center;
  width: 100%;
}
.switch label {
  display: inline-block;
  width: 8px;
  height: 8px;
  cursor: pointer;
  margin: 0 3px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, .8);
  border-radius: 50%;
  border: 5px solid #2f363c;
  background-color: #738290;
}

#btn1:checked~.switch label[for="btn1"] {
  background-color: white;
}

#btn2:checked~.switch label[for="btn2"] {
  background-color: white;
}

#btn3:checked~.switch label[for="btn3"] {
  background-color: white;
}
.slider-inner {
  overflow: hidden;
}

.slides {
  width: 300%;
  transition: all 0.5s;
}

.slides img {
  width: 680px;
  height: 340px;
  float: left;
}

#btn1:checked~.slider-inner slides {
  transform: translate(0);
}

#btn2:checked~.slider-inner .slides {
  transform: translate(-680px);
}

#btn3:checked~.slider-inner .slides {
  transform: translate(-1360px);
}
nav a:hover{
  background-color: black;
  color: white;
  padding: 5px;
  border-radius:10px;
}
.tree:hover{
  width: 400px;
  height: 300px;
}
